
<div class="sub-wrapper">
  <h2 class="pledgesheader">Pledges</h2>


    <div class="new-pledge">
      <%= link_to 'New Pledge', new_pledge_path, { :class=>"pledgelink" } %>
    </div>


      <% @pledges.each do |pledge| %>

      <div id="pledge-card" class="<% if pledge.is_closed? %> closed<% end %>">
        <table>
          <tr>
            <td><%= pledge.name %></td>
          </tr>
          <tr>
            <td>by <a href="/user/<%= pledge.user_id %>"><%= pledge.owner.username %></a></td>
          </tr>
          <tr>
            <td><%= link_to 'Show', pledge %></td>
          </tr>
      </table>
      </div>
  <% end %>
  </div>

<br><br><br>
