<p id="notice"><%= notice %></p>

<h2>Pledges</h2>

    <% @pledges.each do |pledge| %>

    <div id="pledge-card">
      <table>
        <tr>
          <td><%= pledge.name %></td>
        </tr>
        <tr>
          <td>by <%= pledge.owner.username %></td>
        </tr>
        <tr>
          <td><%= link_to 'Show', pledge %></td>
        </tr>
    </table>
    </div>
<% end %>

<br><br><br>

<%= link_to 'New Pledge', new_pledge_path %>
