<p id="notice"><%= notice %></p>


<table>
  <thead><%= @pledge.name %></thead>
  <tr>
    <td>Name : <%= @pledge.name %></td>
    <td>Description : <%= @pledge.description %></td>
    <td>Amount Pledged: <%= @pledge.amount %></td>
    <td>Pledge Sponsor : <%= @pledge.sponsor %></td>
</tr>
</table>

<%= link_to "Back", pledges_path %>