
<div class="sub-wrapper">

  <div class="pledge-show">

  <div>
  <table>
    <thead><h2><%= @pledge.name %></h2></thead>
    <tr>
      <td>Pledger :</td>
      <td><%= @pledge.owner.username %></td>
    </tr>
    <tr>
      <td>Description :</td>
      <td><%= @pledge.description %></td>
    </tr>
    <tr>
      <td>Pledged on :</td>
      <td> <%= @pledge.created_at %></td>
    </tr>
    <tr>
      <td>Pledge Sponsor :</td>
      <td> <%= @pledge.sponsor.username %></td>
    </tr>
    <tr>
      <td>Daily check:</td>
      <td> <%= @pledge.daily_post %></td>
    </tr>
  </table>
</div>


<div>

  <% if @pledge.is_failed? %>

    <% if !current_user.nil? && current_user.id == @pledge.user_id %>

      You derailed on your pledge. :( Better luck next time!

    <% else %>

    <%= @pledge.owner.username %> derailed on this pledge. :( Better luck next time!

    <% end %>

  <% else %>

    <% if !current_user.nil? && current_user.id == @pledge.user_id %>

      You are on track with your pledge! You have been on track for 

      <% start_time =  @pledge.created_at %>
      <% end_time   =  Time.now %>
      <%= distance_of_time_in_words(start_time, end_time)  %>.

    <% else %>

      <%= @pledge.owner.username %> is on track with their pledge! They've been on track for

      <% start_time =  @pledge.created_at %>
      <% end_time   =  Time.now %>
      <%= distance_of_time_in_words(start_time, end_time)  %>.

    <% end %>

  <br><br>

  <% if !current_user.nil? && current_user.id == @pledge.user_id %>

  Have you fulfilled this pledge today?

  <br><br>


  <%= link_to "Yes!", checkin_pledge_path(@pledge), method: :post %>
  
  <br><br>

  <%= link_to 'Edit Pledge', edit_pledge_path(@pledge) %> <br>
  <%= link_to 'Delete Pledge', @pledge, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% end %>

  <br><br>



  <%= link_to "Back", pledges_path %>

  </div>

    </div>

  </div>
