<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <table>
    <thead><h2><%= @pledge.name %></h2></thead>
    <tr>
      <td>Pledger :</td>
      <td><%= @pledge.owner.username %></td>
    </tr>
    <tr>
      <td>Description :</td>
      <td><%= @pledge.description %></td>
    </tr>
    <tr>
      <td>Amount Pledged:</td>
      <td><%= @pledge.amount %></td>
    </tr>
    <tr>
      <td>Pledge Sponsor :</td>
      <td> <%= @pledge.sponsor.username %></td>
    </tr>
    <tr>
      <td>Daily check:</td>
      <td> <%= @pledge.daily_post %></td>
    </tr>
  </table>

  <br><br>

  <% if @pledge.is_failed? %>

    <% if current_user.id == @pledge.user_id %>

      You derailed on your pledge. :( Better luck next time!

    <% else %>

    <%= @pledge.owner.username %> derailed on this pledge. :( Better luck next time!

    <% end %>

  <% else %>

    <% if current_user.id == @pledge.user_id %>

      You are on track with your pledge!

    <% else %>

      <%= @pledge.owner.username %> is on track with their pledge!

    <% end %>

  <br><br>

  <% if current_user.id == @pledge.user_id %>

  Have you fulfilled this pledge today?

  <br><br>


  <%= link_to "Yes!", checkin_pledge_path(@pledge), method: :post %>
  
  <br><br>

  <%= link_to 'Edit Pledge', edit_pledge_path(@pledge) %> <br>
  <%= link_to 'Delete Pledge', @pledge, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% end %>

  <br><br>



  <%= link_to "Back", pledges_path %>
