<!DOCTYPE html>
<html>
  <head>
    <title>ThirtyWins</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,700" rel="stylesheet">

  </head>

  <body>

  <header>
    <span> ThirtyWins : Goals, Gamified. </span> <button class="hamburger">&#9776;</button>
  </header>

  <div class="menu">
    <ul>
    <% if current_user %>
      <li><%= image_tag @user.profile_picture.thumb.url, class: 'profile_thumb' %>  <span><%= current_user.email %></span></li>
    <% end %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Pledges", pledges_path %></li>
    <% if current_user %>
      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Register",  new_user_registration_path %></li>
    <% end %>
    </ul>
  </div> 

  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <div class="top-image"></div>
  <div class="shader">
    
    <div class="bottomshader"></div>
  </div>

      <div class="centered clearfix">
        <h2>Welcome to</h2><br />
        <h1>ThirtyWins</h1>

        <br><br><br>

        <%= link_to "Make a Pledge", pledges_path %>
      </div>

      <div class="footer-container">
          <footer>
              <h3>footer</h3>

              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Contact</a></li>
              </ul>

          </footer>
      </div>


  </body>
</html>